@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  color: aliceblue;
  font-family: "Zilla Slab", serif;
}
body {
  background-color: black;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  .container {
    width: 355px;
    height: 90vh;
    margin: auto;
    margin-top: 2vh;
    box-shadow: 1px 2px 44px 4px blue;
    border-radius: 15px;
  }
  img {
    width: 250px;
  }
  .image_container {
    text-align: center;
    width: 255px;
    margin: auto;
    position: relative;
    top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 500px;
    height: 90vh;
    margin: auto;
    margin-top: 2vh;
    box-shadow: 1px 2px 44px 4px orange;
    border-radius: 15px;
  }
  img {
    width: 340px;
  }
  .image_container {
    text-align: center;
    width: 340px;
    margin: auto;
    position: relative;
    top: 100px;
  }
  #repeat,
  #skip_previous,
  #play_button,
  #skip_next,
  #volume_up {
    font-size: 45px;
    color: white;
  }
}
/* screen size*/
@media screen and (max-width: 400px) {
  .container {
    width: 400px;
    height: 90vh;
    margin: auto;
    margin-top: 2vh;
    box-shadow: 1px 2px 44px 4px yellowgreen;
    border-radius: 15px;
    margin: auto;
  }
  img {
    width: 200px;
  }
  .image_container {
    border: 1px solid blue;
    text-align: center;
    width: 205px;
    margin: auto;
    position: relative;
    top: 100px;
  }
  #title_artie_track {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 90px;
    width: 300px;
    margin: auto;
    margin-top: 90%;
  }
  #artie_name {
    font-size: 24px;
  }
}

#title_artie_track {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 90px;
  width: 300px;
  margin: auto;
  margin-top: 79%;
}
#artie_name {
  font-size: 24px;
}
.container_like_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}
#song_title {
  font-size: 15px;
  margin: 5px;
  width: 110px;
}
#favorite {
  font-size: 30px;
}
#button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 79px;
  width: 325px;
  margin: auto;
}
#center {
  margin-right: 34px;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 15px;
}
#repeat,
#skip_previous,
#play_button,
#skip_next,
#volume_up {
  font-size: 40px;
  color: white;
}
