@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  color: aliceblue;
  font-family: "Zilla Slab", serif;
}
body {
  background-color: black;
}
@media screen and (min-width: 600px) {
  .container {
    width: 400px;
    height: 94vh;
    margin: auto;
    margin-top: 2vh;
    box-shadow: 1px 2px 44px 4px red;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 500px;
    height: 90vh;
    margin: auto;
    margin-top: 2vh;
    box-shadow: 1px 2px 44px 4px red;
  }
  img {
    width: 335px;
    margin-top: 50px;
  }
  .image_container {
    width: 400px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 300px;
    height: 92vh;
    margin: auto;
    margin-top: 2vh;
    box-shadow: 1px 2px 44px 4px blue;
  }
  img {
    width: 200px;
    margin-top: 50px;
  }
  .image_container {
    width: 200px;
  }
}
.image_container {
  height: 55%;
  position: relative;
  top: 20px;
  margin: auto;
  text-align: center;
}
img {
  width: 325px;
  margin-top: 50px;
}
#title_artie_track {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 89px;
  width: 325px;
  margin: auto;

  margin-top: 98px;
}
#artie_name {
  font-size: 24px;
}
.container_like_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}
#song_title {
  font-size: 15px;
  margin: 5px;

  width: 110px;
}
#favorite {
  font-size: 30px;
}
#button {
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 79px;
  width: 325px;
  margin: auto;
}
#center {
  margin-right: 34px;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 15px;
}
#repeat,
#skip_previous,
#play_button,
#skip_next,
#volume_up {
  font-size: 40px;
  color: white;
}
